asttokens==3.0.0
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
exceptiongroup==1.2.2
executing==2.2.0
fonttools==4.57.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython==8.18.1
ipywidgets==8.1.6
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
jupyterlab_widgets==3.0.14
kiwisolver==1.4.7
matplotlib==3.9.4
matplotlib-inline==0.1.7
ml_dtypes==0.5.1
numpy==2.0.2
opt_einsum==3.4.0
packaging==25.0
parso==0.8.4
pillow==11.2.1
pip==25.1.1
prompt_toolkit==3.0.51
pure_eval==0.2.3
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.13.1
setuptools==80.3.0
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.13.2
wcwidth==0.2.13
widgetsnbextension==4.0.14
zipp==3.21.0
